<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sharefree</title>
</head>
<body>
  <h1>upload files</h1>
  <form action="/upload" method="POST" enctype="multipart/form-data">
  <label>Filename</label>
  <input type="text" name="fileName">
  <br>
  <label>upload</label>
  <input type="file" name="file">
  <br>
  <input type="submit" value="submit">
  </form>
</body>
</html>